@model IEnumerable<CustomerRealtionshipManagement.Models.Customer>

@{
    ViewData["Title"] = "Index";
}

<h1>Customer List</h1>

<p>
    <a class="btn btn-primary" href="@Url.Action("AddOrEdit")">Register New</a>
</p>
<table class="table">
    <thead>
        <tr>
           
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Question)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Question)
            </td>
            <td>
               
                <a class="btn btn-warning" href="@Url.Action("AddOrEdit", new { id = item.CustomerID })">Edit</a>
                <a class="btn btn-success" href="@Url.Action("AddQuestion", new { id = item.CustomerID })">Add_Question</a>
                <a class="btn btn-danger" href="@Url.Action("Delete", new { id = item.CustomerID })">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
